  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
  }
  
  a {
    color: #5F5F5F;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 30px 20px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: #F28737;
  }

  .header li a.active {
    color: #F28737;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .logo-nav{
    width: 120px;
    height: 60px;
    margin-left: 20px;
}
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */

   /* hero section*/
   body, html {
    height: 100%;
    margin: 0;
    
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("/assets/img/photo-of-people-leaning-on-wooden-table-3183183.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    width: 500px;
    font-size: 20px;
  }

  .hero-text h1 {
      color: #fff;
      /* color: #0A2250; */
  }
  
.hero-text p {
 color: #fff;
 /* color: #5F5F5F; */
}

/*end of hero section*/

.sub-hero{
  margin-top: 250px;
  margin-left: 50px;
  margin-right:50px
}

.left-image-image{
  width: 600px;
  padding-left: 50px;
}

.sub-hero-title{
  margin-top: 60px;
  color: #0A2250;
  font-weight: 500;
  font-size: 35px;
  width: 600px;
}

.sub-hero-text{
  padding-top: 20px;
  color: #5F5F5F;
  font-size: 20px;
  line-height: 30px; 
}

.discover-button .btn{
  background-color:#0A2250;
  color: #fff;
  margin-top: 10px;
}
/* end of sub hero section */

/* proud projects section */

.orange-text{
  color: #F28737;
}

.proud-projects-subtitle{
  color: #0A2250;
  padding-top: 10px;
}


/* =============================================== MEDIA QUERIES ============================================== */

/* Extra small devices (phones, 360px and down) */

@media only screen and (max-width: 360px) {
  /* hero section */
  .hero-text {
    left: 0;
    transform: none;
    color: white;
    width: 360px;
    padding-left: 20px;
    font-size: 26px;
  }
  .hero-text h1 {
   font-size: 26px;
  }

  .hero-text p {
    font-size:20px ;
    width: 320px;
  }
/* Sub hero section */

  .row-class{
    width: 360px;
  }
  .sub-hero{
    width:350;
  }
  
  .left-image-image{
    width: 360px;
  }

  
  .sub-hero-title{
    width: 350px;
    padding-left: 10px;
  }
  
  .sub-hero-text{
    padding-top: 20px;
    color: #5F5F5F;
    font-size: 15px;
    line-height: 20px;
    padding-left: 16px; 
    width: 340px;
  }
  

}
/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  /* hero section */
  .hero-text {
   
    top: 40%;
    left: 0;
    transform: none;
    color: white;
    width: 380px;
    padding-left: 20px;
  }
  .hero-text h1 {
   font-size: 30px;
  }

  .hero-text p {
    font-size:20px ;
  }
/* Sub hero section */

  .row-class{
    width: 375px;
  }
  .sub-hero{
    margin-top: 60px;
    margin-left: 0;
    margin-right:0;
    width:350;

  }
  
  .left-image-image{
    width: 360px;
    padding-left: 0;
  }

  
  .sub-hero-title{
    margin-top: 40px;
    color: #0A2250;
    font-weight: 400;
    font-size: 25px;
    width: 350px;
    padding-left: 16px;
  }
  
  .sub-hero-text{
    padding-top: 20px;
    color: #5F5F5F;
    font-size: 15px;
    line-height: 20px;
    padding-left: 16px; 
    width: 340px;
  }
  
  .discover-button .btn{
    width: 150px;
    margin-left: 16px; 
    font-size: 14px;

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px ) and  (min-width: 600px) {

  /* hero section */
  .hero-text {
   
    top: 40%;
    left: 0;
    transform: none;
    width: 500px;
    padding-left: 20px;
  }
  .hero-text h1 {
   font-size: 30px;
  }

  .hero-text p {
    font-size:20px ;
  }

  /* Sub hero section */

  .row-class{
    width: 650px;
  }
  .sub-hero{
    margin-top: 50px;
    margin-left: 0;
    margin-right:0;
    width:600px;

  }
  
  .left-image-image{
    width: 420px;
    padding-left: 0;
  }

  
  .sub-hero-title{
    margin-top: 40px;
    font-size: 20px;
    width: 300px;
    padding-left: 16px;
    margin-left: 120px;
  }
  
  .sub-hero-text{
    padding-top: 20px;
    color: #5F5F5F;
    font-size: 15px;
    line-height: 20px;
    padding-left: 16px;
    margin-left: 120px; 
    width: 300px;
  }
  
  .discover-button .btn{
    width: 150px;
    margin-left: 140px; 

  }

}

/* Small devices (portrait tablets, 768px and up) */
@media only screen and (max-width: 1024px ) and  (min-width: 768px) {

  /* hero section */
  .hero-text {
   
    top: 40%;
    left: 0;
    transform: none;
    width: 720px;
    padding-left: 20px;
  }
  .hero-text h1 {
    font-size: 65px;
    width: 700px;
  }

  .hero-text p {
    font-size: 35px;
    padding-top: 20px;
  }

  /* Sub hero section */

  .row-class{
    width: 650px;
  }
  .sub-hero{
    margin-top: 50px;
    margin-left: 0;
    margin-right:0;
    width:600px;

  }
  
  .left-image-image{
    width: 420px;
    padding-left: 0;
  }

  
  .sub-hero-title{
    margin-top: 40px;
    font-size: 20px;
    width: 300px;
    padding-left: 16px;
    margin-left: 120px;
  }
  
  .sub-hero-text{
    padding-top: 20px;
    color: #5F5F5F;
    font-size: 15px;
    line-height: 20px;
    padding-left: 16px;
    margin-left: 120px; 
    width: 300px;
  }
  
  .discover-button .btn{
    width: 150px;
    margin-left: 140px; 

  }

}





  @media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
   

  }
  
 