@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* @font-face {
  font-family: 'Manrope Bold';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/bold.woff');
  }

@font-face {
  font-family: 'Manrope Light';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/light.woff');
  } */
  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    height: 100%;
  }
  
  a {
    color: #5F5F5F;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 30px 20px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: #F28737;
  }

  .header li a.active {
    color: #F28737;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .logo-nav{
    width: 115px;
    height: 55px;
    margin-left: 80px;
}
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    margin-top: 10px;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    /* display: inline-block;  this is ignored when float is right */
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */

   /* hero section*/
   body, html {
    height: 100%;
    margin: 0;
    
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("/assets/img/photo-of-people-leaning-on-wooden-table-3183183-min.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .services-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url("/assets/img/Webp.net-compress-image.jpg");
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  
  .hero-text {
    text-align: left;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 550px;
    
  }

  .hero-title {
      color: #fff;
      /* color: #0A2250; */
      font-size: 50px;
      font-family: 'Circular Book' , sans-serif;
      font-weight: 400;
      line-height: 1em;
  }
  
.hero-p {
 color: #fff;
 font-weight: 300;
 font-size: 20px;
 margin-top: 20px;
 font-family: 'Roboto', sans-serif;
}

/*end of hero section*/

.sub-hero{
  margin-top: 150px;
  margin-left: 50px;
  margin-right:50px;
  width: 90%;
}

.left-image-image{
  width: 100%;
}

.sub-hero-title{
  margin-top: 30px;
  color: #0A2250;
  font-weight: 300;
  font-size: 32px;
  line-height: 35px;
  width: 500px;
  margin-left: 20px;
  font-family: 'Circular Book' , sans-serif;
}

.sub-hero-text{
  padding-top: 10px;
  color: #5F5F5F;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin-left: 20px; 
  width: 500px;
}

.discover-button .btn{
  transition: box-shadow .3s;
  background-color:#0A2250;
  color: #fff;
  margin-top: 10px;
  margin-left: 20px;
}

.discover-button .btn:hover{
  -webkit-box-shadow: 0px 2px 7px -1px rgba(73, 72, 72, 0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(82, 81, 81, 0.75);
  box-shadow: 0px 2px 7px -1px rgba(65, 65, 65, 0.75);

}
/* end of sub hero section */

/* proud projects section */


.projcontainer {
  background: #e9ecec;
  width: 100%;
  margin-top: 120px;
  padding-bottom: 50px;
}

.proud-card {
  width: 95%;
  background-color: transparent;
  border: transparent;
}
.row-class {
padding-left:30px;
}

.projects-section-title{
  
  margin-top: 50px;
  color: #0A2250;
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;

}

.proud-projects-subtitle{
  font-family: 'Circular Book' , sans-serif;
  color: #0A2250;
  padding-top: 10px;
  font-size: 25px;
}

.proud-projects-text{
  font-family: 'Roboto', sans-serif;
  padding-top: 12px;
  color: #4a4f54;
  font-size: 16px;
  line-height: 26px; 
  width: 100%;
}


.proud-projects-image{
  transition: filter .3s;
  border: #5F5F5F;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
 
}

.proud-projects-image:hover{
  filter: brightness(95%);
}

.see-more {
  padding-top: 40px;
  margin: 0 auto;
  color: #0A2250;
}



/* testimonial carousel */


.carousel{
  width: 80%;
  margin:0 auto
}

.carousel-control {
  opacity: 0;
}


.testimonial-section-title{
  font-family: 'Circular Book' , sans-serif;
  font-size: 32px;
  color: #0A2250;
  font-weight: 350;
  text-align: center;
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 60px;
}
.testimonial-title {
  font-family: 'Circular Book' , sans-serif;
  font-size: 25px;
  padding-left: 25px;
  padding-top: 20px;
  margin-top: 10px;
  color: #0A2250;
}
.testimonial-text {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 30px;
  width: 400px;
  color: #5F5F5F;
}

.testimonial-author {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 30px;
  width: 400px;
}

.testimonial-author-position {
  font-size: 12px;
  padding-left: 25px;
  padding-top: 16px;
  width: 400px;
  color: #5F5F5F;
}
.testimonial-image {
  width: 100%;
  height: 100%;
}


/* logos section*/
.logos {
  width: 50%;
  margin-top: 30px;
}

.logo-row {
  margin-top: 50px;
}

/* benefits section */

.benefits-section-title{
  font-family: 'Circular Book', sans-serif;
  font-size: 30px;
  color: #0A2250;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  margin-bottom: 60px;
}

.benefits-card-section{
  padding-top: 20px;
}
.benefits-section{
  width: 98%;
  margin: 0 auto;
}
.benefits-card {
  -webkit-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 370px;
  height: 480px;
  border: transparent;
  
}

.benefits-image {
  width: 100%;
  height: 250px;
}
.benefits-title{
  font-family: 'Circular Book', sans-serif;
  font-size: 25px;
  color: #0A2250;
  padding: 5px;
}
.benefits-text{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #5F5F5F;
  padding: 5px;
}

.benefitscontainer {
  background: #e9ecec;
  width: 100%;
  margin-top: 170px;
  padding-bottom: 50px;
}

/* map section */
.map-title {
  font-family: 'Circular Book', sans-serif;
  font-weight: 500;
  color: #0A2250;
  margin-bottom: 30px;
  margin-top: 70px;
  font-size: 30px;
}
/* footer section */


.footer{
  margin-top: 150px;
  color: #494949;
  width: 90%;
}
.logo-footer {
  width: 115px;
  height: 55px;
  margin-left: 80px;
  margin-top: 50px;
}
.footer-text{
  margin-top: 50px;
  margin-left: 80px;

}
.footer-text-right{
  margin-left: 180px;
  margin-top: 70px;
}
.footer-form{
  margin-left: 160px;
}
.input-group .form-control{
  /* width: 250px; */
  margin-top: 50px;
}


hr {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:100px;
  border-top: 1px solid rgb(221, 221, 221);
}
.text-muted {
  margin-left: 100px;
  font-size: 12px;
}
/* Services page  */
.services{
  margin-top: 170px;
}
.services-title{
  font-family: 'Circular Book', sans-serif;
  padding-top: 250px;
  font-size: 38px;
  color: #0A2250;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 350;
}
.services-text {
  font-family: 'Roboto', sans-serif;
  color: #5F5F5F;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.service-text {
  font-family: 'Roboto', sans-serif;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: 300;
}
.services-title span , .testimonial-section-title span{
  color: #F28737;
}
.service-card{
  /* transition: box-shadow .3s; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  background-color: #e9ecec;
  height: 370px;
  border: transparent ;
}

/* .service-card:hover{
  -webkit-box-shadow: 0px 2px 7px -1px rgba(73, 72, 72, 0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(82, 81, 81, 0.75);
  box-shadow: 0px 2px 7px -1px rgba(65, 65, 65, 0.75);

} */
.service-title {
  font-family: 'Circular Book', sans-serif;
  color:#0A2250 ;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.service-icon {
  width: 40px;
}



.accordion {
  margin-top: 80px;
}

.collapsible-header{
  font-size: 20px;
  font-family: 'Circular Book', sans-serif;
  color:#0A2250 ;
  font-weight: 400;
}

.collapsible-body {
  font-family: 'Roboto', sans-serif;
  color: #5F5F5F;
  font-size: 18px;
  font-weight: 300;
}

.material-icons{
  color: #0A2250;
}

/* our work page */

.project-thumbnail {
  transition: box-shadow .3s;
  width: 100%;
  
}

.project-thumbnail:hover{
  -webkit-box-shadow: 0px 2px 7px -1px rgba(73, 72, 72, 0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(82, 81, 81, 0.75);
  box-shadow: 0px 2px 7px -1px rgba(65, 65, 65, 0.75);

}
.thumbnail-title {
  color: #0A2250;
  font-family: 'Roboto', sans-serif ;
  font-size: 18px;
  margin-bottom: 30px;
}

/* contact page */
.btn{
  background-color:#0A2250;
  color: #fff;
  margin-top: 8px;
}

.contact-text {
  color: #5F5F5F;
  font-size: 17px;
  font-weight: 300;
}

.contact-section{
  padding-top: 150px;
}


/* case studies section */
.case-study-image {
  width: 100%;
  margin-top: 100px;
  filter: brightness(95%);
} 
.brief-title {
  color: #0A2250;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
}

.brief-content {
  color: #5F5F5F;
  font-size: 19px;
  width: 80%;
  font-weight: 350;
  /* text-align: center; */
  margin: 0 auto;
}

.next {
  transition:  box-shadow .3s;
  /* border: transparent; */
  float: right;
  width: 20%;
  margin-top: 150px;
}
.previous {
  transition:  box-shadow .3s;
  /* border: transparent; */
  float: left;
  width: 20%;
  margin-top: 150px;
}
 .previous:hover , .next:hover {
  -webkit-box-shadow: 0px 2px 7px -1px rgba(73, 72, 72, 0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(82, 81, 81, 0.75);
  box-shadow: 0px 2px 7px -1px rgba(65, 65, 65, 0.75);

}





.next-text {
  padding-left: 10px;
}
/* Joannak  */
.hero-image-joanna {
  background-image:
   url("/assets/img/joannak\ thumbnail.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* leanmeals */
.hero-image-leanmeals {
  background-image:
   url("/assets/img/leanmeals\ thumbnail\ \(1\).png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.leanrow {
  padding-top: 100px;
  margin: 0 auto;
}

/* adrian app */

.hero-image-adrian {
  background-image: url("/assets/img/adrian-thumbnail\ \(2\).png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  
}
/* erp */
.hero-image-erp {

  background-image: url("/assets/img/erp-thumbnail.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* bcp */

.hero-image-bcp {

  background-image: url("/assets/img/bcp-thumbnail.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* crystal */

.spacer{
  height: 50px;
}
.hero-image-crystal {
  background-image: url("/assets/img/crystal-thumbnail.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact-form {
  margin: 0 auto;
}




/* =============================================== MEDIA QUERIES ============================================== */
@media (max-width: 575.98px) { 
  .logo-nav {
    margin-left: 5px;
  }
  .hero-text {
    top: 60%;
    left: 45%;
    width: 80%;
  }
  .hero-title {
    font-size: 30px; 
  }

  .hero-p {
    font-size: 17px;
    margin-top: 20px;
   }

   /* sub-hero section */

   .left-image-image{
    width: 100%;
  }

  .sub-hero-title{
    /* margin-top: 50px; */
    font-size: 20px;
    line-height: 28px;
    width: 100%;
    margin-left: 0;
  }

  .sub-hero-text{
    padding-top: 10px;
    font-size: 15px;
    line-height: 25px;
    margin-left: 0; 
    width: 90%;
  }
  .sub-hero{
    margin-top: 200px;
    margin-left: 0;
    margin-right:10px;
    width: 100%;
  }

  .discover-button .btn{
    margin-left: 0;
  }

  /* testimonial section */
  .testimonial-section-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 60px;
  }

  .testimonial-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .testimonial-text {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 15px;
    width: 95%;
  }

  .testimonial-author {
    font-size: 13px;
    padding-left: 10px;
    padding-top: 15px;
    width: 95%;
  }
  .testimonial-author-position {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 95%;
  }
  /* benefits section */

.benefits-section-title{
  font-size: 24px;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.benefits-title{
  font-size: 20px;
  padding: 5px;
}
.benefits-card {
  width: 90%;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 40px;
  
}
/* case study */

.brief-title {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 22px;
}

.brief-content {
  color: #5F5F5F;
  font-size: 14px;
  width: 90%;
}
.hero-image-erp , .hero-image-crystal , .hero-image-joanna , .hero-image-leanmeal , .hero-image-adrian , .hero-image-bcp, .services-hero-image{
  height: 50%;
}

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) and (min-width: 576px) { 
  .logo-nav {
    margin-left: 5px;
  }
  .hero-text {
    top: 60%;
    left: 50%;
    width: 80%;
  }
  .hero-title {
    font-size: 35px; 
  }

  .hero-p {
    font-size: 20px;
    margin-top: 20px;
   }

   /* sub-hero section */

   .left-image-image{
    width: 100%;
  }

  .sub-hero-title{
    /* margin-top: 50px; */
    font-size: 22px;
    line-height: 28px;
    width: 100%;
    margin-left: 0;
  }

  .sub-hero-text{
    padding-top: 10px;
    font-size: 17px;
    line-height: 25px;
    margin-left: 0; 
    width: 90%;
  }
  .sub-hero{
    margin-top: 200px;
    margin-left: 0;
    margin-right:10px;
    width: 100%;
  }

  .discover-button .btn{
    margin-left: 0;
  }

  /* testimonial section */
  .testimonial-section-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 60px;
  }

  .testimonial-title {
    font-size: 22px;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .testimonial-text {
    font-size: 15px;
    padding-left: 10px;
    padding-top: 15px;
    width: 95%;
  }

  .testimonial-author {
    font-size: 13px;
    padding-left: 10px;
    padding-top: 15px;
    width: 95%;
  }
  .testimonial-author-position {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 95%;
  }

    /* benefits section */

.benefits-section-title{
  font-size: 24px;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.benefits-title{
  font-size: 20px;
  padding: 5px;
}
.benefits-card {
  width: 60%;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 40px;
  
}
/* case study section */

.brief-title {
  margin-top: 80px;
  margin-bottom: 17px;
  font-size: 24px;
}

.brief-content {
  font-size: 16px;
  width: 95%;
}
.hero-image-erp , .hero-image-crystal , .hero-image-joanna , .hero-image-leanmeal , .hero-image-adrian , .hero-image-bcp{
  height: 50%;
}
}

@media (max-width: 991.98px) and (min-width: 768px) { 
  .logo-nav {
    margin-left: 5px;
  }
  .hero-text {
    top: 60%;
    left: 46%;
    width: 80%;
  }
  .hero-title {
    font-size: 40px; 
  }

  .hero-p {
    font-size: 20px;
    margin-top: 20px;
   }

   /* sub-hero section */

   .left-image-image{
    width: 100%;
  }

  .sub-hero-title{
    margin-top: 0;
    font-size: 18px;
    line-height: 25px;
    width: 100%;
    margin-left: 0;
  }

  .sub-hero-text{
    padding-top: 5px;
    font-size: 13px;
    line-height: 23px;
    margin-left: 0; 
    width: 90%;
  }
  .sub-hero{
    margin-top: 200px;
    margin-left: 0;
    margin-right:10px;
    width: 100%;
  }

  .discover-button .btn{
    margin-left: 0;
  }

  /* testimonial section */
  .testimonial-section-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .testimonial-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .testimonial-text {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    width: 97%;
  }

  .testimonial-author {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    width: 97%;
  }
  .testimonial-author-position {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 95%;
  }

      /* benefits section */

.benefits-section-title{
  font-size: 24px;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.benefits-title{
  font-size: 20px;
  padding: 5px;
}
.benefits-card {
  width: 60%;
  height: 480px;
  margin: 0 auto;
  margin-bottom: 40px;
  
}
/* case study section */

.brief-title {
  margin-bottom: 19px;
  font-size: 25px;
}

.brief-content {
  font-size: 17px;
  width: 95%;
}

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) and (min-width: 992px){ 

  img.logo-nav {
    margin-left: 5px;
  }
  .hero-text {
    top: 60%;
    left: 35%;
    width: 60%;
  }
  .hero-title {
    font-size: 35px; 
  }

  .hero-p {
    font-size: 20px;
    margin-top: 20px;
   }

   /* sub-hero section */

   .left-image-image{
    width: 100%;
  }

  .sub-hero-title{
    margin-top: 30px;
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    margin-left: 0;
  }

  .sub-hero-text{
    padding-top: 5px;
    font-size: 16px;
    line-height: 23px;
    margin-left: 0; 
    width: 90%;
  }
  .sub-hero{
    margin-top: 180px;
    margin-left: 0;
    margin-right:10px;
    width: 100%;
  }

  .discover-button .btn{
    margin-left: 0;
  }

  /* testimonial section */
  .testimonial-section-title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 100px;
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .testimonial-title {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
  }
  .testimonial-text {
    font-size: 14px;
    padding-left: 10px;
    padding-top: 10px;
    width: 97%;
  }

  .testimonial-author {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 8px;
    width: 97%;
  }
  .testimonial-author-position {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    width: 95%;
  }

        /* benefits section */

.benefits-section-title{
  font-size: 24px;
  margin-top: 100px;
  padding-top: 50px;
  margin-bottom: 40px;
}
.benefits-title{
  font-size: 20px;
  padding: 5px;
}
.benefits-card {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
  
}

/* case study section */

.brief-title {
  margin-top: 82px;
  margin-bottom: 19px;
}

.brief-content {
  font-size: 17px;
  width: 95%;
}

}

/* ============================================================================================================= */
  @media (min-width: 770px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
   

  }
  
 